<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PCSSettings" type="LRE.LT.Model.Configuration.PCSSettings, LRE.LT.Model" />
    <section name="PCSGeneralSettings" type="LRE.BL.Server.ServerSettings, LRE.BL" />
    <section name="CommonSettings" type="LRE.Configuration.Settings.CommonSettings, LRE.Configuration.Settings" />
    <section name="ElasticProvisionSettings" type="LRE.Configuration.Settings.ElasticProvisionSettings, LRE.Configuration.Settings" />
    <section name="InfluxDbSettings" type="LT.InfluxDB.InfluxDbSettings, LT.InfluxDB" />
  </configSections>
  <PCSSettings IISRootWebSite="loadrunner.webdev.banksvcs.net"
    ltopPortNumber="8731" ltopIsSecured="true" StartRunMaxRetry="3"
    DataProcessorPendingTimeoutMinutes="2880" MESyncRequestWaitSeconds="180"
    MEApplicationLaunchWaitSeconds="180" isReverseProxy="false"
    ScriptPerformanceEnabled="true" />
  <PCSGeneralSettings internalUrl="https://devecpvm027794.rbsres01.net:12001"
    VuGenToolkitPort="1111" VuGenToolkitWSIsSecured="false" uniqueId="13504c3a-6fb8-4967-91e1-4a6e90786bb3" />
  <CommonSettings restRequestTimeout="400" group="" is_sys_locked="false"
    almRestPageSize="1000" backendUrl="http://localhost:5876" user="rbsres01\Service-LRESITEDEV"
    password="LCC::glm9ZhRNX3kR20_FBrR7u0eYLCg." />
  <ElasticProvisionSettings DockerProvisionTimeoutInSeconds="300"
    CloudProvisionTimeoutInSeconds="1800" DefaultDockerImageVersion="26.1" />
  <InfluxDbSettings port="8086" IsSecured="false" />
  <appSettings>
    <add key="WCF_Config_DataTransferProxy" value="fileTransferCommon" />
    <add key="LW_CRYPTO_INIT_STRING" value="LCC::glm9ZjFDS1o63RnEApo4xQaY" />
  </appSettings>
</configuration>
